fastapi
uvicorn
requests
python-multipart
numpy
tifffile
pydantic
opencv-python-headless
huggingface_hub
pyyaml
psutil

einops
decord
pycocotools

git+https://github.com/den-sq/sam2.git
git+https://github.com/den-sq/sam3.git
