.pageLayout {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--window-background);
}
.centerArea {
    grid-column: 1 / 2;
    padding: 10px;
    overflow: hidden;
}
.vizArea {
    height: 60%;
    overflow: hidden;
}
.rightSidebar {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-left: 1px solid #111;
    padding: 10px;
}
.progressArea {
    height: 40%;
    overflow: hidden;
}
.optionsArea {
    flex: 1;
    overflow: hidden;
}